@font-face {
  font-family: 'TrebuchetMS';
  src: url('/trebuchetms.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MatchaSmoothies';
  src: url('/MatchaSmoothies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  height: 100%;
}

.burger-menu {
  position: relative;
  z-index: 10;
}

.burger-menu__button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu__icon,
.burger-menu__icon::before,
.burger-menu__icon::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease-out;
}

.burger-menu__icon::before {
  transform: translateY(-8px);
}

.burger-menu__icon::after {
  transform: translateY(8px);
}

.burger-menu__content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.burger-menu__content.open {
  transform: translateX(0);
}

.burger-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.burger-menu__overlay.active {
  opacity: 1;
  pointer-events: auto;
}
.dialog{
  background: cubic-bezier(0.77, 0.2, 0.05, 1);
}
.Toastify__toast{
  min-width: 300px !important;
}