@font-face {
  font-family: 'TrebuchetMS';
  src: url('/trebuchetms.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
}